<div class="headerContainer">
    <div class="Name">
        <img class="logo" src="/assets/logo.png" alt="">
        <h1>On the Toll <br>Rentals</h1>
    </div>
    <div class="navs">
        <ul>
            <a routerLink="/Home" class="naviLink"><li>Home</li></a>
            <a routerLink="/Rental-Fleet" class="naviLink"><li>Our Fleet</li></a>
            <a routerLink="/About-us" class="naviLink"><li>About</li></a>
            <a routerLink="/Register" class="naviLink"><li>Register</li></a>
            <a routerLink="/login"><li><button>Login</button></li></a>
            
        </ul>
    </div>
</div>