<div class="profileContainer">
    <div class="profileCard">
        <div class="photoBox"><img src="https://cdn.iconscout.com/icon/free/png-256/free-user-6544302-5479433.png" alt=""></div>
        <div class="userInfo">
            <h1> <i>Name: </i> {{users['first_nm']}} {{users['last_nm']}}</h1>
            <hr>
            <h1> <i>License Number: </i> {{users['license_nbr']}}</h1>
            <hr>
            <h1> <i>Phone Number: </i> {{users['phone_number']}}</h1>
            <hr>
            <h1> <i>Last Login: </i> {{users['last_login']}}</h1>
            <hr>
            <h1> <i>Status: </i> {{users['status']}}</h1>
        </div>
    </div>
</div>