<div class="footerContainer">
    <div class="company">
        <ul>
            <h1>Company</h1>
            <hr>
            <a href=""><li>About us</li></a>
            <a href=""><li>Our Services</li></a>
            <a href=""><li>Privacy Policy</li></a>
            <a href=""><li>Affiliate Program</li></a>
        </ul>
    </div>

    <div class="getHelp">
        <ul>
            <h1>Get Help</h1>
            <hr>
            <a href=""><li>FAQ</li></a>
            <a href=""><li>Payment Options</li></a>
            <a href=""><li>Customer Service</li></a>
        </ul>
    </div>

    <div class="onlineRecords">
        <ul>
            <h1>Online Records</h1>
            <hr>
            <a href=""><li>Watch</li></a>
            <a href=""><li>Blog</li></a>
            <a href=""><li>Events</li></a>
        </ul>
    </div>

    <div class="contactUs">
        <ul>
            <a style="color: gold;" routerLink="Contact-Us"><h1>Contact Us</h1></a>
            <hr>
            <a href=""><li>Follow Us</li></a>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/600px-Instagram_icon.png" alt="">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Facebook_Logo_2023.png" alt="">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/600px-LinkedIn_logo_initials.png" alt="">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Logo_of_Twitter.svg/512px-Logo_of_Twitter.svg.png" alt="">
            <a style="font-size: large; color: gold;" routerLink="/logOut"><li>LOG-OUT</li></a>
            <hr>
            <!-- <a routerLink="/logOut"><li><button>Log Out</button></li></a> -->
        </ul>
    </div>
</div>