<div class="contactUs-Container">
    <div class="contactUs">
        <div class="contactInfo">
            <div class="address">
                <div class="addressBox">
                    <h1>Contact Us</h1>
                    <hr>
                    <h2><img class="icons" src="https://i.pinimg.com/564x/f7/76/0b/f7760ba6babe2971a2e2204ce15fe278.jpg" alt=""> 876-672-0218 / 876-672-7684</h2>
                    <h2><img class="icons" src="https://www.shutterstock.com/image-vector/pin-point-logo-can-be-600nw-1679653036.jpg" alt=""> 427 Spanish Town Rd, Kingston</h2>
                    <h2><img class="icons" src="https://banner2.cleanpng.com/20190404/bwl/kisspng-computer-icons-email-clip-art-portable-network-gra-front-office-staff-colorado-eagles-5ca5a147867bf4.2168492915543585995509.jpg" alt="">OnTheTollRentals@gmail.com</h2>
                </div>
            </div>
            <div class="logoContainer"><img class="logo" src="/assets/logo.png" alt=""></div>    
            <div class="openingHours">
                <hr>
                <h1>Open Hours</h1>
                <h3>Monday to Fridays</h3>
                <h4>9:00 am to 5:00pm</h4>
                <hr>
                <h3>Weekends</h3>
                <h4>10:00 am to 3:00pm</h4>
            </div>
        </div>
        <div class="contactMap">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1897.1992248997556!2d-76.83494439627708!3d18.00670289964138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8edb1564f6ac2af3%3A0xd255ac3cdde0a902!2s427%20Spanish%20Town%20Rd%2C%20Kingston!5e0!3m2!1sen!2sjm!4v1715525176789!5m2!1sen!2sjm" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3794.3929587637485!2d-76.8360709239949!3d18.006957982989764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8edb15645825fab3%3A0xf1aa6ad2b5e8b84f!2sToyota%20Jamaica%20Ltd.!5e0!3m2!1sen!2sjm!4v1715524960962!5m2!1sen!2sjm" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
        </div>
    </div>

</div>