<div class="about-us-Container">
    <div class=""></div>
    <div class="sectionOne">
        <div class="imgBox">
            <img src="https://images.collectingcars.com/063458/mainimage.jpg?w=1263&fit=fillmax&crop=edges&auto=format,compress&cs=srgb&q=85" alt="">
        </div>
        <div class="textBox">
            <h1>About On the Toll Rental</h1>
            <br>
            <h3>Take a look under the hood of the world’s largest car sharing marketplace</h3>
        </div>
    </div>
    <div class="corporateHistory">
        <div class="corporateHistoryBox">
            <h1>Who are we?</h1>
            <p>
                At our On the Toll Rental, we strive to provide a seamless and convenient platform for users to find and rent a wide range of items, equipment, properties, and more. Our mission is to make the rental process easy, efficient, and enjoyable for both renters and owners. Here's what you can expect from us: <br>
                <br>
                <b>Wide Selection:</b>  We offer a diverse selection of rental options to cater to various needs, whether you're looking for tools, vehicles, vacation rentals, or event spaces. <br>
    
                <b>User-Friendly Interface:</b> Our website is designed to be intuitive and user-friendly, making it easy for you to search for rentals, compare options, and make reservations. <br>
    
                <b>Secure Transactions:</b> We prioritize the security of your transactions, ensuring that your payments and personal information are protected. <br>
    
                <b>Transparent Communication:</b> We believe in clear and transparent communication, providing all the necessary details about rentals, pricing, terms, and conditions upfront. <br>
    
                <b>Customer Support:</b> Our dedicated customer support team is here to assist you with any questions, concerns, or issues you may encounter during the rental process. <br>
            </p>
        </div>
    </div>
    <div class="companyMission">
        <div class="mission">
            <img src="https://static.wixstatic.com/media/ccf840_ccd49749a57a4165afd609bc9eae730a~mv2.jpg/v1/fill/w_2500,h_1872,al_c/ccf840_ccd49749a57a4165afd609bc9eae730a~mv2.jpg" alt="">
        </div>
        <div class="missionStatement">
            <p>
                COMPANY MISSION <br>
                "
                <br>Your journey starts here 
                <br>A Fleet for Every Need
                <br>A key for a better experience. <br>"
            </p>
        </div>
    </div>
</div>
